@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  border-top-color: #000;
  animation: spinner 1s linear infinite;
}
